.navbar {
    height: 50px;
    color: #555;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;

}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.wrapper .search {
    display: flex;
    align-items: center;
    border: 0.5px solid lightgray;
    padding: 3px;
}

.wrapper .search input {
    border: none;
    outline: none;
    background: transparent;
}

.wrapper .items {
    display: flex;
    align-items: center;
}

.wrapper .items .item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
}

.wrapper .items .item .icon {
    font-size: 25px;
}

.wrapper .items .item .counter {
    width: 15px;
    color: white;
    background-color: red;
    display: flex;
    align-items: center;
    height: 15px;
    justify-content: center;
    font-size: 10px;
    border-radius: 50%;
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: -5px;

}


.wrapper .items .avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}